

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="headline">Servers created</h3>

            <button class="btn btn-primary" (click)="onServerCreated()">Create</button>
            <p class="text" *ngIf="serverCreated; else noServer">Created: {{serverCreationStatus}}</p>

            <hr>

            <ng-template #noServer><p>{{serverCreationStatus}}</p></ng-template>


            <label>User name {{userName}}</label>
            <input type="text" class="form-control" [(ngModel)]="userName">

            <button class="btn btn-danger" [disabled]="userName === ''" (click)="userName = ''">Reset user</button>

            <hr>

            <button class="btn btn-dark" (click)="onServerCreated()">Add new item</button>
            <div *ngFor="let item of servers">{{serverName}}</div>

        </div>
    </div>
</div>